<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Reveal Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">
</head>
<body>
<section id="services">
  <div class="container">
    <div class="section-header">
      <h2>Integral Domains</h2>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="box wow fadeInLeft bg-dark">
          <div class="icon"><i class="fa fa-database"></i></div>
          <h4 class="title" style="color: limegreen"><a href="/medical-domain" style="color: limegreen">Medical Domain</a></h4>
          <p class="description" style="color: limegreen">Neo4j is the world's leading open source Graph Database which is developed using Java technology. It is highly scalable and schema free (NoSQL).</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInRight bg-dark">
          <div class="icon" style="color: limegreen"><i class="fa fa-database"></i></div>
          <h4 class="title" ><a href="/movie-domain"style="color: limegreen">Movie Domain</a></h4>
          <p class="description" style="color: limegreen">Neo4j is the world's leading open source Graph Database which is developed using Java technology. It is highly scalable and schema free (NoSQL).</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInRight bg-dark">
          <div class="icon" style="color: limegreen"><i class="fa fa-database"></i></div>
          <h4 class="title" ><a href=""style="color: limegreen">Sports Domain</a></h4>
          <p class="description" style="color: limegreen">Neo4j is the world's leading open source Graph Database which is developed using Java technology. It is highly scalable and schema free (NoSQL).</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInRight bg-dark">
          <div class="icon" style="color: limegreen"><i class="fa fa-database"></i></div>
          <h4 class="title" ><a href=""style="color: limegreen">Human Resources Domain</a></h4>
          <p class="description" style="color: limegreen">Neo4j is the world's leading open source Graph Database which is developed using Java technology. It is highly scalable and schema free (NoSQL).</p>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- JavaScript Libraries -->
<script src="src/assets/conceptsLib/jquery/jquery.min.js"></script>
<script src="src/assets/conceptsLib/jquery/jquery-migrate.min.js"></script>
<script src="src/assets/conceptsLib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="src/assets/conceptsLib/easing/easing.min.js"></script>
<script src="src/assets/conceptsLib/superfish/hoverIntent.js"></script>
<script src="src/assets/conceptsLib/superfish/superfish.min.js"></script>
<script src="src/assets/conceptsLib/wow/wow.min.js"></script>
<script src="src/assets/conceptsLib/owlcarousel/owl.carousel.min.js"></script>
<script src="src/assets/conceptsLib/magnific-popup/magnific-popup.min.js"></script>
<script src="src/assets/conceptsLib/sticky/sticky.js"></script>

<!-- Template Main Javascript File -->
<script src="src/assets/conceptsTs/main.js"></script>
</body>
