

.jumbotron {
  background: url("src/assets/searchjs/img/search-background.jpg") no-repeat center center;
  position: absolute;
  padding-top: 100px;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}
.foot{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
